<%= page_title "Edit product type" %>

<div class="page_head">
  <h1>Edit Product Type</h1>
</div>

<div class="edit person">
  <%= form_for @product do |f| %>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <p class="button"><%= f.submit "Save changes", :disable_with => 'Saving changes' %> <%= link_to "Cancel", settings_path %></p>
  <% end %>
</div>
