<%= page_title "Edit agent" %>

<div class="page_head">
  <h1>Edit Agent</h1>
</div>

<div class="edit person">
  <%= nested_form_for @person do |f| %>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <p class="button"><%= f.submit "Save changes", :disable_with => 'Saving changes' %> <%= link_to "Cancel", people_path %></p>
  <% end %>
</div>
