<%= page_title "Edit department" %>

<div class="page_head">
	<h1>Edit Department</h1>
</div>

<div class="edit department">
	<%= nested_form_for @department do |f| %>
		<%= render :partial => 'form', :locals => { :f => f } %>
		<p class="button"><%= f.submit "Save changes", :disable_with => 'Saving changes' %> <%= link_to "Cancel", departments_path %></p>
	<% end %>
  <%= content_for :tasks_fields_template %>
</div>
