<%= page_title "All tickets" %>

<div class="page_head">
  <h1>Search results</h1>
</div>

<div class="issues list">
  <div class="issues">
    <% if current_person.admin? %>
      <%= form_for @bulk_edit do |f| %>
        <% unless @search.documents.empty? %>
          <%= render partial: 'issues/issue', collection: @search.documents, locals: { f: f} %>
        <% end %>
        <div class="pages">
          <%= paginate @search.documents %>
        </div>

        <div class="field">
          <p>Update selected tickets as: <%= f.select :status, [['Open',30],['On Hold',20],['Resolved',10]] %> with the comment: <%= f.text_field :message %> <%= f.submit 'Update tickets' %></p>
          <%= f.hidden_field :person, value: current_person.id %>
        </div>
      <% end %>
    <% else %>
      <% unless @search.documents.empty? %>
        <%= render partial: 'issues/issue', collection: @search.documents %>
      <% end %>
      <div class="pages">
        <%= paginate @search.documents %>
      </div>
    <% end %>
  </div>

  <div class="sidebar">
    <%= link_to "Create a new ticket", new_issue_path, class: 'cta' %>

    <h2>Departments</h2>

    <% if !@department %>
      <%= select_tag :ticket_redirect, '<option value="all">All</option>'.html_safe + options_from_collection_for_select(Department.all, :id, :department_name), selected: 'all' %>
    <% else %>
      <%= select_tag :ticket_redirect, '<option value="all">All</option>'.html_safe + options_from_collection_for_select(Department.all, :id, :department_name), selected: @department.id %>
    <% end %>

    <%= render :partial => 'searches/form' %>
  </div>
</div>
