<%= page_title "Edit task list" %>

<div class="page_head">
	<h1>Edit Task List</h1>
</div>

<div class="new department">
	<%= nested_form_for @task_list do |f| %>
		<%= render :partial => 'form', :locals => { :f => f } %>
		<p class="button"><%= f.submit "Save changes", :disable_with => 'Saving changes' %> <%= link_to "Cancel", task_lists_path %></p>
	<% end %>
  <%= content_for :tasks_fields_template %>
</div>
