<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Prime Networks</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body id="widescreen">
    <%= yield %>
    <script type="text/javascript">
      setTimeout("location.reload(true)", 10000)
    </script>
  </body>
</html>
